<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 dashboard-main">
    <h1 class="page-header">Dashboard</h1>
    <div class="row text-center">
        <div class="alert alert-success" ng-show="thermostatOnline">Thermostat is <strong>ONLINE</strong></div>
        <div class="alert alert-danger" ng-show="!thermostatOnline">Thermostat is <strong>OFFLINE</strong></div>
    </div>

    <div class="row text-center dashboard-temperatures">
        <div class="col-md-4">
            <ui-knob value="temperatures.temperature_low" options="trKnobOptions"></ui-knob>
            <h4>Low</h4>
            <span class="text-muted">Spin to adjust</span>
        </div>
        <div class="col-md-4">
            <ui-knob value="temperatures.current_temperature" options="ctKnobOptions"></ui-knob>
            <h4>Current Temperature</h4>
        </div>
        <div class="col-md-4">
            <ui-knob value="temperatures.temperature_high" options="trKnobOptions"></ui-knob>
            <h4>High</h4>
            <span class="text-muted">Spin to adjust</span>
        </div>
    </div>

    <div class="row">
        <br>
        <div class="btn-group btn-group-justified">
            <div class="btn-group btn-group-lg">
                <button type="button" class="btn btn-default" ng-class="{ active: status.mode=='off' }" ng-click="setMode('off')" ng-disabled="!thermostatOnline">OFF</button>
            </div>
            <div class="btn-group btn-group-lg">
                <button type="button" class="btn btn-default" ng-class="{ active: status.mode=='auto' }" ng-click="setMode('auto')" ng-disabled="!thermostatOnline">AUTO</button>
            </div>
            <div class="btn-group btn-group-lg">
                <button type="button" class="btn btn-default" ng-class="{ active: status.mode=='heat' }" ng-click="setMode('heat')" ng-disabled="!thermostatOnline">HEAT</button>
            </div>
            <div class="btn-group btn-group-lg">
                <button type="button" class="btn btn-default" ng-class="{ active: status.mode=='cool' }" ng-click="setMode('cool')" ng-disabled="!thermostatOnline">COOL</button>
            </div>
        </div>
        <br>
    </div>

    <h2 class="sub-header">Settings</h2>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading text-muted">
                <em ng-show="thermostatOnline">Click on a setting to change its value</em>
                <em ng-show="!thermostatOnline">Settings currently unavailable</em>
            </div>
            <table class="table table-hover">
                <tr class="h4">
                    <th></th>
                    <th><b>Name</b></th>
                    <th><b>Value</b></th>
                    <th></th>
                </tr>
                <tr class="h4 clickable" ng-repeat="(name, value) in settings" ng-click="openModal({ name: name, value: value})">
                    <td></td>
                    <td>{{ name }}</td>
                    <td>{{ value }}</td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
</div>
