<!-- Register Modal content only -->
<div class="modal-header">
    <button type="button" class="close" ng-click="closeModal('register')"><span>&times;</span></button>
    <h3 class="modal-title">Register</h3>
</div>
<div class="modal-body">
    <form class="register-form" name="forms.register" novalidate>
        <div class="form-group has-feedback"
             ng-class="{ 'has-error': forms.register.email.$touched && forms.register.email.$invalid, 'has-success': forms.register.email.$touched && forms.register.email.$valid }">
            <label for="register-email" class="control-label">Email Address</label>
            <input type="email" class="form-control input-lg" id="register-email" name="email"
                   ng-model="newUser.email"
                   required>
            <span class="glyphicon form-control-feedback"
                  ng-class="{ 'glyphicon-remove': forms.register.email.$touched && forms.register.email.$invalid, 'glyphicon-ok': forms.register.email.$touched && forms.register.email.$valid }">
            </span>
            <div class="help-block" ng-messages="forms.register.email.$touched && forms.register.email.$error">
                <div ng-messages-include="errorMessages"></div>
            </div>
        </div>
        <div class="form-group has-feedback"
             ng-class="{ 'has-error': forms.register.password.$touched && forms.register.password.$invalid, 'has-success': forms.register.password.$touched && forms.register.password.$valid }">
            <label for="register-password" class="control-label">Choose A Password</label>
            <input type="password" class="form-control input-lg" id="register-password" name="password"
                   ng-model="newUser.password"
                   minlength="6"
                   maxlength="64"
                   required>
            <span class="glyphicon form-control-feedback"
                  ng-class="{ 'glyphicon-remove': forms.register.password.$touched && forms.register.password.$invalid, 'glyphicon-ok': forms.register.password.$touched && forms.register.password.$valid }">
            </span>
            <div class="help-block has-feedback" ng-messages="forms.register.password.$touched && forms.register.password.$error">
                <div ng-messages-include="errorMessages"></div>
            </div>
        </div>
        <div class="form-group has-feedback"
             ng-class="{ 'has-error': forms.register.confirm.$touched && forms.register.confirm.$invalid, 'has-success': forms.register.confirm.$touched && forms.register.confirm.$valid }">
            <label for="register-confirm" class="control-label">Confirm Password</label>
            <input type="password" class="form-control input-lg" id="register-confirm" name="confirm"
                   ng-model="newUser.confirm"
                   minlength="6"
                   maxlength="64"
                   compare="newUser.password"
                   required>
            <span class="glyphicon form-control-feedback"
                  ng-class="{ 'glyphicon-remove': forms.register.confirm.$touched && forms.register.confirm.$invalid, 'glyphicon-ok': forms.register.confirm.$touched && forms.register.confirm.$valid }">
            </span>
            <div class="help-block" ng-messages="forms.register.confirm.$touched && forms.register.confirm.$error">
                <p ng-message="compare">Passwords do not match</p>
                <div ng-messages-include="errorMessages"></div>
            </div>
        </div>
        <div class="form-group has-feedback"
             ng-class="{ 'has-error': forms.register.thermostat.$touched && forms.register.thermostat.$invalid, 'has-success': forms.register.thermostat.$touched && forms.register.thermostat.$valid }">
            <label for="register-thermostat" class="control-label">Thermostat ID</label>
            <input type="text" class="form-control input-lg" id="register-thermostat" name="thermostat"
                   ng-model="newUser.thermostat_id"
                   minlength="6"
                   maxlength="64"
                   required>
            <span class="glyphicon form-control-feedback"
                  ng-class="{ 'glyphicon-remove': forms.register.thermostat.$touched && forms.register.thermostat.$invalid, 'glyphicon-ok': forms.register.thermostat.$touched && forms.register.thermostat.$valid }">
            </span>
            <div class="help-block" ng-messages="forms.register.thermostat.$touched && forms.register.thermostat.$error">
                <div ng-messages-include="errorMessages"></div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <span class="error-message text-left col-xs-6 col-md-6" ng-show="registerFormError">{{ registerFormError }}</span>
    <button type="button" class="btn btn-default" ng-click="closeModal('register')">Cancel</button>
    <button type="submit" class="btn btn-primary" ng-click="register(newUser)" ng-disabled="forms.register.$invalid">Register</button>
</div>
