<div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
            <li ng-class="{ active: isActive('/dashboard') }">
                <a href="/dashboard"><i class="glyphicon glyphicon-dashboard"></i> Dashboard</a>
            </li>
            <li ng-class="{ active: isActive('/profile') }">
                <a href="/profile"><i class="glyphicon glyphicon-user"></i> Profile</a>
            </li>
            <li>
                <a href="/analytics"><i class="glyphicon glyphicon-stats"></i> Analytics</a>
            </li>
            <li ng-class="{ active: isActive('/help') }">
                <a href="/help"><i class="glyphicon glyphicon-info-sign"></i> Help</a>
            </li>
        </ul>
        <ul class="nav nav-sidebar">
            <li><a href="" ng-click="logout()"><i class="glyphicon glyphicon-log-out"></i> Logout</a></li>
        </ul>
    </div>
</div>
